# Configuration file

~CONFIG_VERSION: rv6-stable-6

counters {
    I:lastGridStorage=3267
    I:lastPlayer=2
}


gridstorage {
    S:1007=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1008=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1009=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:109=
    S:1301=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJIn/+HAQQAHeeBnBUAAAA=
    S:1306=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:1448=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:2178=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:2180=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:2809=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:3075=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXII925gAAEAjF4gOhUAAAA=
    S:3076=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJw925gAAEAp2+bRhUAAAA=
    S:3077=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXIw925gAAEAN/7L6hUAAAA=
    S:3078=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJQ925gAAEAHM9wlhUAAAA=
    S:3079=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXIQ925gAAEAYZy9ExUAAAA=
    S:3080=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJg925gAAEASq0GbxUAAAA=
    S:3081=H4sIAAAAAAAAAONiYGBjYEsqTUtLLbL/7t3AAAIABLV3vxUAAAA=
    S:3082=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:3083=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:3084=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:3085=H4sIAAAAAAAAAONiYGBjYEsqTUtLLbLf7t3AAAIA6XfqlhUAAAA=
    S:3087=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:3088=H4sIAAAAAAAAAONiYGBjYEsqTUtLLbJv925gAAEAlCQnExUAAAA=
    S:3089=H4sIAAAAAAAAAONiYGBjYEsqTUtLLbIv925gAAEA3jBM7BUAAAA=
    S:3090=H4sIAAAAAAAAAONiYGBjYEsqTUtLLbJP925gAAEA9QH3kBUAAAA=
    S:3091=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:3092=H4sIAAAAAAAAAONiYGBjYEsqTUtLLbJ3925gAAEAo2OBaRUAAAA=
    S:3094=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:3211=H4sIAAAAAAAAAONiYGBjYEsqTUtLLWKAAQAPku3jFQAAAA==
    S:3262=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXJI925gAAEA8Q3tvxUAAAA=
    S:993=H4sIAAAAAAAAAONiYGBjYEsqTUtLLXLIaGQAAwBAyxAQFQAAAA==
}


players {
    I:4133f7bf-0edf-41c0-b92b-14262154887e=1
    I:8953775b-5789-4ff6-b2ce-e4f54698526f=0
}


